.collection-active {
background-color: white;
border-radius: .5em;
padding: 10px;
}

.collection{
    background-color: burlywood;
    border-radius: .5em;
    padding: 10px;
}

.bar{
    background-color: black;
    display: flex;
    margin:0 3rem 0 3rem;
    padding: 15px;

}

h1{
    color: white;
    background-color: burlywood;
    height: 6vh;
    width:16vw;
    margin: 20px;
    margin-left: 42%;
    border-radius: 5px;
    padding-left: 6px;

}

