.collection-active {
background-color: white;
border-radius: .5em;
padding: 10px;
}

.collection{
    background-color: black;
    border-radius: .5em;
    padding: 10px;
}

.bar{
    background-color: black;
    display: flex;
    margin:0 3rem 0 3rem;
    padding: 15px;

}

.link{
    
}

