.title{
    color: white;
    background-color: burlywood;
    height: 5vh;
    width:16vw;
    margin: 20px;
    margin-left: 42%;
    border-radius: 8px;
    padding-left: 12px;
    padding-top: 5px;
    
}

.card{
    color: white;
    background-color: burlywood;
    height: 25vh;
    width:35vw;
    margin: 20px;
    margin-left: 5%;
    border-radius: 15px;
    padding-left:  40px;
    padding-top: 20px;
    
}

.number{
    margin-left: 85%;
}

.cycle{
    margin-left: 25%;
    margin-top: 30%;
}

form{
    margin-top: 40px;
    margin-left: 33%;
    color: white;
    background-color: burlywood;
    height: 10vh;
    width:30vw;
    padding-left:  30px;
    padding-top: 15px;
}